---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
// import '../styles/global.css';
import '../styles/common.css';
import '../styles/white01-2.css';
import '../styles/print.css';
import '../styles/advanced.css';
import { SITE_TITLE } from '../consts';

interface Props {
	title: string;
	description: string;
	image?: string;
	lang?: string;
	keywords: string | null;
	og: {
		title: string;
		description: string;
	}
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, og, image = '/images/ogp.jpg', lang="ja", keywords=null } = Astro.props;

const _keywords = keywords ? keywords : lang == "ja" ? "アクションゲーム,シミュレーションRPG,ダウンロードゲーム,ゲーム制作,作成" : "Action games, omoshiro game, simulation RPGs, download games, game production, creation"
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1" /> -->
<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
	rel="alternate"
	type="application/rss+xml"
	title={SITE_TITLE}
	href={new URL('rss.xml', Astro.site)}
/>

<!-- Font preloads -->
<link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta itemprop="name" content={lang == "ja" ? "おもしろゲーム神殿" : "Omoshiro-game"}>
<meta name="keywords" content={_keywords}/>	
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={og.title} />

<meta property="og:site_name" content={lang == "ja" ? "おもしろゲーム神殿～アクションゲーム＆シミュレーションRPGをつくろう" : "Omoshiro Game Shrine - Let's create an action game & simulation RPG"}/>
<meta property="og:description" content={og.description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:locale" content={lang == "ja" ? "ja_JP" : "en_US"}/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<link rel="help" href="/sitemap.html" title={lang == "ja" ? "サイトマップ" : "Sitemap"}/>