---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hreflang from "../components/Hreflang.astro";
import LanguageSwitcher from "../components/LanguageSwitcher.astro";
import Breadcrumb from '../components/Breadcrumb.astro';
import Sidebar from '../components/Sidebar.astro';
import HeaderLogo from '../components/HeaderLogo.astro';
import TopMenu from '../components/TopMenu.astro';
import { undefined } from 'astro:schema';

// type Props = CollectionEntry<'blog'>['data'];

const { frontmatter } = Astro.props;

const lang = frontmatter.lang || (Astro.props.url?.startsWith("/en/") || (Astro.props.url == "/en")) ? "en" : "ja";
// const { title, description } = Astro.props;

let keywords: string | null = frontmatter.keywords || null;
const description = frontmatter.description || frontmatter.subtitle || "??";

if (keywords && Array.isArray(keywords) && keywords.every(item => typeof item === 'string')) {
    keywords = keywords.join(',');
}

let og = {
    title: frontmatter.og?.title || frontmatter.title,
    description: frontmatter.og?.description || description,
}

---

<html lang={lang}>
	<head>
		<BaseHead title={frontmatter.title} description={description} lang={lang} keywords={keywords} og={og} />
        <Hreflang />
	</head>

	<body>
        <div id="container">
            <div id="header">
                <h1>{frontmatter.h1 || frontmatter.title || "???"}</h1>
                
                <TopMenu />
            </div>

            <HeaderLogo />
            
            <Breadcrumb breadcrumb={frontmatter.breadcrumb || []} />

            <!-- <LanguageSwitcher /> -->



            <main id="main">
                <Sidebar />
                <article id="main-contents">
                    <slot />
                </article>
            </main>

                <Footer />
            
            
        </div>
	</body>
</html>

<style>
    #header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
</style>